<p-carousel
  [value]="items()"
  [numVisible]="6"
  [numScroll]="1"
  [circular]="false"
  [showIndicators]="false"
  [showNavigators]="false"
  [autoplayInterval]="0"
  [circular]="true"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-brand #item>
    <div
      class="flex flex-col justify-center items-center rounded-[1.25rem] w-full min-h-[168px] py-6 px-6"
      [class]="'color-' + brand.color.toLowerCase()"
    >
      <div class="flex justify-center rounded-[1rem] w-full">
        <p-image src="images/brand/brand-1.svg" [alt]="brand.name" />
      </div>
      <div class="flex flex-col items-center">
        <h6
          class="text-base text-gray-700 leading-[1.2rem] tracking-[0.03rem] font-poppins font-medium text-center mt-3"
        >
          {{ brand.name }}
        </h6>

        <p
          class="text-[0.8125rem] text-gray-500 leading-[1.5625rem] tracking-[0.03rem] font-poppins font-light mt-0.5"
        >
          0 items
        </p>
      </div>
    </div>
  </ng-template>
</p-carousel>
