<header class="flex flex-col justify-center">
  <div class="hidden md:block justify-between bg-gray-700 w-full py-1.5">
    <app-layout justifyContent="justify-center">
      <app-header-topbar class="w-full"></app-header-topbar>
    </app-layout>
  </div>

  <app-layout
    class="bg-white w-full py-1.5 lg:border-b border-b-gray-200"
    justifyContent="justify-start "
  >
    <app-header-navigation class="w-full"></app-header-navigation>
  </app-layout>

  <app-layout
    class="bg-white w-full py-1.5 border-b border-b-gray-200"
    justifyContent="justify-start "
  >
    <app-header-primary-navigation
      class="w-full hidden lg:flex"
    ></app-header-primary-navigation>

    <app-search-field class="w-full lg:hidden"></app-search-field>
  </app-layout>
</header>

<app-breadcrumb></app-breadcrumb>

<div class="flex flex-col justify-center">
  <app-layout justifyContent="justify-center" alignItems="items-center">
    <div
      class="py-8 flex flex-col justify-center items-center gap-3 w-full max-w-[31.25rem]"
    >
      <h1>
        <span
          class="text-[1.5625rem] text-gray-700 leading-[1.5625rem] tracking-[0.03rem] font-quicksand font-bold capitalize"
          >Log</span
        >
        <span
          class="text-[1.5625rem] text-primary-500 leading-[1.5625rem] tracking-[0.03rem] font-quicksand font-bold capitalize ml-1.5"
          >In</span
        >
      </h1>

      <p
        class="text-sm text-gray-700 leading-[1.125rem] tracking-[0.03rem] font-poppins font-light"
      >
        Best place to buy and sell digital products
      </p>

      <form
        #loginForm="ngForm"
        [formGroup]="mainForm"
        (ngSubmit)="onSubmit()"
        class="border border-gray-200 rounded-[1.25rem] p-[1.875rem] w-full mt-10"
      >
        <div class="form-control">
          <label for="email">Email*</label>
          <input type="text" pInputText formControlName="email" />
        </div>

        <div class="form-control">
          <label for="password">password*</label>
          <p-password formControlName="password" [feedback]="false" />
        </div>

        <div class="btn-group">
          <p-button type="submit" label="Login" />
          <p-button variant="text" severity="secondary" label="register" />
        </div>
      </form>
    </div>
  </app-layout>
</div>
