<app-header></app-header>

<app-breadcrumb></app-breadcrumb>

<app-layout-auth-content
  subtitle="Best place to buy and sell digital products"
  pageTitleSecondary="Log"
  pageTitlePrimary="In"
  maxWidth="max-w-[31.25rem]"
>
  <form
    #loginForm="ngForm"
    [formGroup]="mainForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-5 border border-gray-200 rounded-[1.25rem] p-[1.875rem] w-full mt-10"
  >
    <app-text-field
      labelFor="email"
      label="Email"
      isRequired
      id="email"
      name="email"
      placeholder="Enter your email"
      [parentForm]="mainForm"
      formControlName="email"
      controlName="email"
    ></app-text-field>

    <app-password-field
      labelFor="password"
      label="Password"
      isRequired
      id="password"
      name="password"
      placeholder="Enter your password"
      toggleMask
      [parentForm]="mainForm"
      formControlName="password"
      controlName="password"
    ></app-password-field>

    <app-link-form label="Forgot password ?" styleClass="info"></app-link-form>

    <div class="flex justify-between items-center">
      <app-button-form label="Login"></app-button-form>
      <app-link-form label="register"></app-link-form>
    </div>
  </form>
</app-layout-auth-content>
