<div class="flex justify-between items-center w-full p-1 border-b">
  <app-logo textPosition="left"></app-logo>

  <div class="w-2/4 max-w-[43.75rem]">
    <app-search-field></app-search-field>
  </div>

  <div class="flex gap-x-2">
    @for (headerAccountLink of headerAccountLinks(); track $index; let i =
    $index) { @if (i === 0) {
    <app-button-header-account
      [label]="headerAccountLink.label"
      [sublabel]="headerAccountLink.sublabel"
      [imgNameFile]="headerAccountLink.icon"
      (mouseenter)="onMouseEnter($event, headerAccountLink.sublabel)"
      (mouseleave)="onMouseLeave()"
    ></app-button-header-account>
    } @else {
    <app-button-header-account
      [label]="headerAccountLink.label"
      [sublabel]="headerAccountLink.sublabel"
      [imgNameFile]="headerAccountLink.icon"
    ></app-button-header-account>
    }}

    <p-menu
      #accountMenu
      [model]="items"
      [popup]="true"
      (mouseenter)="cancelHideMenu()"
      (mouseleave)="hideMenuWithDelay()"
    />
  </div>
</div>

<div class="flex justify-start items-center w-full p-1 py-2 gap-x-4">
  <p-button
    [outlined]="true"
    severity="secondary"
    styleClass="btn bg-transparent border-gray-200 rounded-[0.625rem] p-2.5 w-auto"
  >
    <ng-template #icon>
      <p-image src="images/grid.svg" alt="icon cart" width="20" height="20" />
    </ng-template>
  </p-button>

  <app-nav></app-nav>
</div>
