<div class="flex justify-between items-center w-full p-1">
  <app-logo textPosition="left"></app-logo>

  <div class="w-2/4 max-w-[43.75rem]">
    <app-search-field></app-search-field>
  </div>

  <div class="flex gap-x-2">
    @for (headerAccountLink of headerAccountLinks(); track $index; let i =
    $index) { @if (i === 0) {
    <app-button-header-account
      [label]="headerAccountLink.label"
      [sublabel]="headerAccountLink.sublabel"
      [imgNameFile]="headerAccountLink.icon"
      (mouseenter)="onMouseEnter($event, headerAccountLink.sublabel)"
      (mouseleave)="onMouseLeave()"
    ></app-button-header-account>
    } @else {
    <app-button-header-account
      [label]="headerAccountLink.label"
      [sublabel]="headerAccountLink.sublabel"
      [imgNameFile]="headerAccountLink.icon"
    ></app-button-header-account>
    }}

    <p-menu
      #accountMenu
      [model]="items"
      [popup]="true"
      (mouseenter)="cancelHideMenu()"
      (mouseleave)="hideMenuWithDelay()"
    />
  </div>
</div>
