<header class="bg-gray-700 flex justify-center">
  <div
    class="flex justify-center max-w-screen-sm sm:max-w-screen-md md:max-w-screen-lg lg:max-w-screen-xl xl:max-w-screen-2xl 2xl:max-w-screen-3xl px-6 h-10 w-full"
  >
    <div class="flex justify-between items-center w-full">
      <p
        class="text-sm text-white leading-7 tracking-[.03rem] font-poppins font-light"
      >
        Flat 50% off on Grocery Shop
      </p>

      <ul class="flex gap-x-8">
        <li>
          <a
            href="#"
            class="text-sm text-white leading-7 tracking-[.03rem] font-poppins font-light"
            >Help?</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-sm text-white leading-7 tracking-[.03rem] font-poppins font-light"
            >Track order</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-sm text-white leading-7 tracking-[.03rem] font-poppins font-light"
            >Language</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-sm text-white leading-7 tracking-[.03rem] font-poppins font-light"
            >Currency</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
