<header class="flex flex-col justify-center">
  <div class="hidden md:block justify-between bg-gray-700 w-full py-1.5">
    <app-layout-base justifyContent="justify-center">
      <app-header-topbar class="w-full"></app-header-topbar>
    </app-layout-base>
  </div>

  <app-layout-base
    class="bg-white w-full py-1.5 lg:border-b border-b-gray-200"
    justifyContent="justify-start "
  >
    <app-header-navigation class="w-full"></app-header-navigation>
  </app-layout-base>

  <app-layout-base
    class="bg-white w-full py-1.5 border-b border-b-gray-200"
    justifyContent="justify-start "
  >
    <app-header-primary-navigation
      class="w-full hidden lg:flex"
    ></app-header-primary-navigation>

    <app-search-field class="w-full lg:hidden"></app-search-field>
  </app-layout-base>
</header>

<app-breadcrumb></app-breadcrumb>

<app-layout-auth-content
  subtitle="Your new password must be different to previously used passwords."
  pageTitleSecondary="Set new"
  pageTitlePrimary="Password"
  maxWidth="max-w-[31.25rem]"
>
  <form
    #loginForm="ngForm"
    [formGroup]="mainForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-5 border border-gray-200 rounded-[1.25rem] p-[1.875rem] w-full mt-10 mb-5"
  >
    <app-password-field
      labelFor="password"
      label="Password"
      isRequired
      id="password"
      name="password"
      placeholder="Enter your password"
      toggleMask
      [parentForm]="mainForm"
      groupName="userPasswordGroup"
      formControlName="password"
      controlName="password"
      class="w-full"
    ></app-password-field>

    <app-password-field
      labelFor="confirmPassword"
      label="Confirm password"
      isRequired
      id="confirmPassword"
      name="confirmPassword"
      placeholder="Enter your confirmPassword"
      toggleMask
      [parentForm]="mainForm"
      groupName="userPasswordGroup"
      formControlName="confirmPassword"
      controlName="confirmPassword"
      class="w-full"
    ></app-password-field>

    <div class="flex justify-between items-center">
      <app-button-form label="Reset password"></app-button-form>
    </div>
  </form>

  <app-link-back label="Back to login"></app-link-back>
</app-layout-auth-content>
