.rounded-box {
  &:before,
  &:after {
    @apply absolute w-[30px] h-[30px];
    content: "";
    background: url("assets/images/border-img.png") no-repeat;
    background-size: 100%;
  }

  &::before {
    bottom: -1px;
    left: -29px;
  }

  &::after {
    bottom: 0px;
    left: 99.7%;
    transform: rotate(90deg);
  }
}
