<app-header></app-header>

<app-breadcrumb></app-breadcrumb>

<app-layout-content containerMarginTop="mt-10" containerMarginBottom="mb-10">
  <div class="flex flex-col gap-y-6 w-full overflow-hidden">
    <app-carousel-brand [items]="brandList()"></app-carousel-brand>

    <div class="flex items-start gap-x-6">
      <app-filter-product
        [brandList]="brandList()"
        [categoryList]="categoryList()"
        [weightList]="weightList()"
        [colorList]="colorList()"
        [productList]="productList()"
        [form]="mainForm"
        class="w-1/4"
        (changed)="onChanged()"
        (toggleTag)="toggleTag($event)"
      ></app-filter-product>

      <div class="flex-1">
        <app-list-product
          [productItemList]="productList()"
          hasPagination
        ></app-list-product>
      </div>
    </div>
  </div>
</app-layout-content>
