<app-header></app-header>

<app-breadcrumb></app-breadcrumb>

<app-layout-content containerMarginTop="mt-10" containerMarginBottom="mb-10">
  <div class="flex flex-col gap-y-6 w-full overflow-hidden">
    <app-carousel-brand [items]="brandItemList()"></app-carousel-brand>

    <div class="flex">
      <div class="flex w-1/4">filter</div>

      <div class="flex-1">
        <app-list-product
          [productItemList]="productItemList()"
          hasPagination
        ></app-list-product>
      </div>
    </div>
  </div>
</app-layout-content>
