<p-dataview
  #dv
  [value]="productItemList()"
  [layout]="layout()"
  [first]="first()"
  [rows]="rows()"
  [paginator]="true"
>
  <ng-template #header>
    <div
      class="flex justify-start border border-gray-200 bg-gray-100 rounded-[1.25rem] py-[0.6875rem] px-[0.8125rem]"
    >
      <p-selectbutton
        [(ngModel)]="layout"
        [options]="options"
        [allowEmpty]="false"
      >
        <ng-template #item let-item>
          <i
            class="pi"
            [ngClass]="{
                      'pi-table': item === 'grid',
                      'pi-bars': item === 'list',
                    }"
          ></i>
        </ng-template>
      </p-selectbutton>
    </div>
  </ng-template>

  <ng-template #grid let-items>
    @for (product of items; track product.id) {
    <app-card-product
      [product]="product"
      [isShowCloseBtn]="isShowCloseBtn()"
      class="w-full sm:w-[calc(50%-1.25rem)] lg:w-[calc(33.333333%-1.25rem)] xl:w-[calc(25%-1.25rem)]"
    ></app-card-product>
    }
  </ng-template>

  <ng-template #list let-items>
    @for (product of items; track product.id) {
    <app-card-product
      [product]="product"
      [isShowCloseBtn]="isShowCloseBtn()"
      layout="list"
      class="min-w-full"
    ></app-card-product>
    }
  </ng-template>
</p-dataview>

@if (hasPagination()) {
<div class="flex justify-between items-center p-0 mt-8">
  <p-paginator
    [rows]="rows()"
    [totalRecords]="productItemList().length"
    [showFirstLastIcon]="false"
    [showCurrentPageReport]="true"
    [showPageLinks]="false"
    [showJumpToPageDropdown]="false"
    [showFirstLastIcon]="false"
    currentPageReportTemplate="Showing {first}-{last} of {totalRecords} item(s)"
    styleClass="left-paginator"
  ></p-paginator>

  <p-paginator
    [rows]="rows()"
    [totalRecords]="productItemList().length"
    [showFirstLastIcon]="false"
    [showCurrentPageReport]="false"
    [showPageLinks]="true"
    [showJumpToPageDropdown]="false"
    currentPageReportTemplate="Showing {first}-{last} of {totalRecords} item(s)"
    (onPageChange)="onPageChange($event)"
  >
    <ng-template #nextpagelinkicon>
      <p-button
        label="Next"
        icon="pi pi-chevron-right"
        iconPos="right"
        severity="secondary"
      />
    </ng-template>

    <ng-template #previouspagelinkicon>
      <p-button
        label="Prev"
        icon="pi pi-chevron-left"
        iconPos="left"
        severity="secondary"
      />
    </ng-template>

    ></p-paginator
  >
</div>
}
