<app-header></app-header>

<app-breadcrumb></app-breadcrumb>

<app-layout-content containerMarginTop="mt-10 mb-10">
  <div class="flex flex-col md:flex-row w-full">
    <div class="flex w-1/4">left</div>

    <div class="flex-1 flex flex-col gap-y-14 md:gap-y-10 w-full">
      <app-card-product-details
        [product]="product()"
      ></app-card-product-details>

      <div class="w-full">
        <p-tabs value="0">
          <p-tablist>
            @for (tabTitle of tabTitles; track tabTitle.id) {
            <p-tab
              [value]="tabTitle.id"
              class="gap-0 text-base text-gray-500 leading-7 tracking-[0.03rem] font-poppins font-medium border-none px-0 py-0 hover:bg-transparent after:content-['/'] after:text-gray-500 after:mx-4"
              [ngClass]="{
                last: tabTitle.id === tabTitles[tabTitles.length - 1].id
              }"
              >{{ tabTitle.value }}</p-tab
            >

            }
          </p-tablist>
          <p-tabpanels
            class="border border-gray-200 rounded-[1.25rem] px-4 py-[1.1875rem] mt-5"
          >
            <p-tabpanel [value]="tabTitles[0].id">
              <p
                class="text-[0.9375rem] text-gray-500 leading-7 tracking-[0.03rem] font-poppins font-light"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
                voluptatum. Vitae dolores alias repellat eligendi, officiis,
                exercitationem corporis quisquam delectus cum non recusandae
                numquam dignissimos molestiae magnam hic natus. Cumque.
              </p>

              <ul class="pl-6 mt-4">
                @for (productDetail of productDetails; track $index) {

                <li class="list-disc mb-2.5">
                  <p
                    class="text-[0.9375rem] text-gray-500 leading-7 tracking-[0.02rem] font-poppins font-light"
                  >
                    {{ productDetail }}
                  </p>
                </li>
                } @for (productSpecificDetail of productSpecificDetails; track
                $index) {
                <li
                  class="list-disc text-[0.9375rem] text-gray-500 leading-7 tracking-[0.02rem] font-poppins font-light mb-2.5"
                >
                  <div class="flex">
                    <h6
                      class="text-[0.9375rem] text-gray-500 leading-7 tracking-[0.02rem] font-poppins font-medium w-[150px]"
                    >
                      {{ productSpecificDetail.name }}
                    </h6>
                    <p
                      class="text-[0.9375rem] text-gray-500 leading-7 tracking-[0.02rem] font-poppins font-light"
                    >
                      {{ productSpecificDetail.value }}
                    </p>
                  </div>
                </li>
                }
              </ul>
            </p-tabpanel>
            <p-tabpanel value="1">
              <ul class="pl-6 mt-4">
                @for (productInformation of productInformations; track $index) {
                <li
                  class="list-disc text-[0.9375rem] text-gray-500 leading-7 tracking-[0.02rem] font-poppins font-light mb-2.5"
                >
                  <div class="flex">
                    <h6
                      class="text-[0.9375rem] text-gray-500 leading-7 tracking-[0.02rem] font-poppins font-medium w-[150px]"
                    >
                      {{ productInformation.name }}
                    </h6>
                    <p
                      class="text-[0.9375rem] text-gray-500 leading-7 tracking-[0.02rem] font-poppins font-light"
                    >
                      {{ productInformation.value }}
                    </p>
                  </div>
                </li>
                }
              </ul>
            </p-tabpanel>
            <p-tabpanel value="2">
              <p
                class="text-[0.9375rem] text-gray-500 leading-7 tracking-[0.03rem] font-poppins font-light"
              >
                Comment
              </p>
            </p-tabpanel>
          </p-tabpanels>
        </p-tabs>
      </div>
    </div>
  </div>
</app-layout-content>
