<div class="flex flex-col justify-center">
  <app-layout-base justifyContent="justify-center" alignItems="items-center">
    <div
      class="py-8 flex flex-col justify-center items-center gap-3 w-full"
      [class]="maxWidth()"
    >
      <app-section-title
        [secondaryContent]="pageTitleSecondary()"
        [primaryContent]="pageTitlePrimary()"
      ></app-section-title>

      <app-section-subtitle
        [content]="subtitle()"
        maxWidth="max-w-[23rem]"
        color="text-gray-700"
      ></app-section-subtitle>

      @if(email()) {
      <span
        class="text-sm text-gray-500 leading-5 tracking-[0.03rem] font-poppins font-light text-center max-w-[23rem]"
        >{{ email() }}</span
      >
      }

      <ng-content></ng-content>
    </div>
  </app-layout-base>
</div>
