<header class="flex flex-col justify-center">
  <div class="hidden md:block justify-between bg-gray-700 w-full py-1.5">
    <app-layout-base justifyContent="justify-center">
      <app-header-topbar class="w-full"></app-header-topbar>
    </app-layout-base>
  </div>

  <app-layout-base
    class="bg-white w-full py-1.5 lg:border-b border-b-gray-200"
    justifyContent="justify-start "
  >
    <app-header-navigation class="w-full"></app-header-navigation>
  </app-layout-base>

  <app-layout-base
    class="bg-white w-full py-1.5 border-b border-b-gray-200"
    justifyContent="justify-start "
  >
    <app-header-primary-navigation
      class="w-full hidden lg:flex"
    ></app-header-primary-navigation>

    <app-search-field class="w-full lg:hidden"></app-search-field>
  </app-layout-base>
</header>

<app-breadcrumb></app-breadcrumb>

<app-layout-auth-content
  subtitle="Forgot your password? No worries ! Just enter your email address below, and we'll send you a link to securely create a new password."
  pageTitleSecondary="Forgot"
  pageTitlePrimary="Password ?"
  maxWidth="max-w-[31.25rem]"
>
  <form
    #loginForm="ngForm"
    [formGroup]="mainForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-5 border border-gray-200 rounded-[1.25rem] p-[1.875rem] w-full mt-10 mb-5"
  >
    <app-text-field
      labelFor="email"
      label="Email"
      isRequired
      id="email"
      name="email"
      placeholder="Enter your email"
      [parentForm]="mainForm"
      formControlName="email"
      controlName="email"
    ></app-text-field>

    <div class="flex justify-between items-center">
      <app-button-form label="Reset password"></app-button-form>
    </div>
  </form>

  <app-link-back label="Back to login"></app-link-back>
</app-layout-auth-content>
