<div class="flex flex-col gap-y-1.5">
  <div class="flex items-start w-full gap-x-3.5">
    <div class="rounded-2xl w-full overflow-hidden max-w-[75px]">
      <p-image src="images/team-member-1.png" alt="product-img" />
    </div>

    <div class="flex-1">
      <h6
        class="text-base text-gray-700 leading-7 tracking-[0.03rem] font-quicksand font-bold mb-2.5"
      >
        {{ comment().profile.nameDetails.fullname }}
      </h6>

      <app-rating [rating]="comment().rating"></app-rating>
    </div>
  </div>

  <p
    class="text-sm text-gray-500 leading-6 tracking-[0.03rem] font-poppins font-light"
  >
    {{ comment().body }}
  </p>
</div>
