<p-drawer
  #drawerRef
  position="right"
  [visible]="isVisible()"
  (onHide)="onClose()"
  styleClass="flex items-center top-1/2 trans border-none rounded-[0.625rem] min-w-[450px] h-auto min-h-[200px] max-h-full -translate-y-1/2"
>
  <ng-template #headless>
    <div class="w-full flex flex-col px-4 py-6">
      <h2
        class="text-base text-gray-700 leading-4 tracking-[0.03rem] font-poppins font-semibold text-center mb-8"
      >
        My Cart
      </h2>

      <div class="flex flex-col gap-6">
        @for (product of productList(); track $index) {
        <app-card-product-cart
          [product]="product"
          (sendProductIdAndDeleteProduct)="removeFromCart($event)"
          (sendUpdatedQuantityProduct)="refreshCart()"
        ></app-card-product-cart>
        }
      </div>

      <div class="h-[1px] w-full border-t border-gray-200 my-10"></div>

      <div class="flex w-full">
        <app-cart-total
          [subTotal]="subTotalPrice()"
          [amountTVA]="20"
          [totalPrice]="totalPrice()"
          class="w-full"
        ></app-cart-total>
      </div>

      <div class="flex justify-between mt-8">
        <p-button
          label="View cart"
          [outlined]="true"
          class="btn-view-cart"
          (onClick)="redirectToCart()"
        />

        <app-button-cta-large
          type="submit"
          label="Checkout"
        ></app-button-cta-large>
      </div>
    </div>
  </ng-template>
</p-drawer>
