<p-drawer
  #drawerRef
  position="right"
  [visible]="isVisible()"
  (onHide)="onClose()"
  styleClass="flex items-center top-1/2 trans border-none rounded-[0.625rem] min-w-[450px] min-h-[500px] -translate-y-1/2"
>
  <ng-template #headless>
    <div class="w-full h-full flex flex-col px-4 py-6">
      <h2
        class="text-base text-gray-700 leading-4 tracking-[0.03rem] font-poppins font-semibold text-center mb-8"
      >
        My Cart
      </h2>

      <div class="flex flex-col gap-6">
        @for (product of productItemList(); track $index) {
        <div
          class="flex justify-start gap-x-2 border border-gray-200 bg-gray-100 rounded-[1.25rem] py-6 px-6"
        >
          <div
            class="border border-gray-200 rounded-[1.25rem] w-full max-w-[100px] overflow-hidden"
          >
            <p-image src="images/product/product-1.png" alt="product-img" />
          </div>

          <div class="flex flex-col justify-center gap-y-1.5">
            <h6>{{ product.name }}</h6>
            <p>
              <span
                class="text-base text-gray-700 leading-7 tracking-[0.03rem] font-poppins font-semibold"
                >{{ product.priceDetails.discount | currency : "EUR" }}
              </span>

              <span
                class="text-base text-gray-500 leading-7 tracking-[0.03rem] font-poppins font-light"
                >x 500 g
              </span>
            </p>

            <!-- <app-number-step-field [value]="productNb"></app-number-step-field> -->
          </div>
        </div>
        }
      </div>

      <div class="h-[1px] w-full border-t border-gray-200 my-10"></div>

      <div class="flex flex-col gap-y-2">
        <div class="flex justify-between">
          <h6
            class="text-[0.9375rem] text-gray-500 leading-7 tracking-[0.03rem] font-poppins font-semi-bold"
          >
            Sub-Total :
          </h6>
          <p
            class="text-[0.9375rem] text-gray-500 leading-7 tracking-[0.03rem] font-poppins font-semi-bold"
          >
            €300.00
          </p>
        </div>

        <div class="flex justify-between">
          <h6
            class="text-[0.9375rem] text-gray-500 leading-7 tracking-[0.03rem] font-poppins font-semi-bold"
          >
            TVA (20%) :
          </h6>
          <p
            class="text-[0.9375rem] text-gray-500 leading-7 tracking-[0.03rem] font-poppins font-semi-bold"
          >
            €60.00
          </p>
        </div>

        <div class="flex justify-between">
          <h6
            class="text-[0.9375rem] text-gray-500 leading-7 tracking-[0.03rem] font-poppins font-semi-bold"
          >
            Total :
          </h6>
          <p
            class="text-[0.9375rem] text-gray-500 leading-7 tracking-[0.03rem] font-poppins font-semi-bold"
          >
            €360.00
          </p>
        </div>
      </div>

      <div class="flex justify-between mt-8">
        <p-button label="View cart" [outlined]="true" class="btn-view-cart" />
        <p-button label="Checkout" class="btn-view-cart" />
      </div>
    </div>
  </ng-template>
</p-drawer>
