<p-carousel
  [value]="items()"
  [numVisible]="4"
  [numScroll]="1"
  [circular]="false"
  [showIndicators]="false"
  [showNavigators]="false"
  [autoplayInterval]="2000"
  [circular]="true"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-teamMember #item>
    <div class="flex justify-center rounded-[1rem] w-full">
      <p-image
        src="images/team-member-1.png"
        [alt]="teamMember.name"
        class="w-full"
      />
    </div>

    <div class="flex flex-col items-center mt-5">
      <h6
        class="text-lg text-gray-700 leading-[1.35rem] tracking-[0.03rem] font-quicksand font-bold"
      >
        {{ teamMember.name }}
      </h6>

      <p
        class="text-[0.9375rem] text-gray-500 leading-[1.75rem] tracking-[0.03rem] font-poppins font-light"
      >
        {{ teamMember.job }}
      </p>
    </div>
  </ng-template>
</p-carousel>
