<app-header></app-header>

<app-breadcrumb></app-breadcrumb>

<app-layout-content>
  <div
    class="flex flex-col lg:flex-row items-center lg:items-start lg:justify-center w-full gap-x-6"
  >
    <div class="flex w-full lg:w-1/2 max-w-[400px] lg:max-w-[636px]">
      <p-image src="images/about.png" alt="faq" imageClass="about-img" />
    </div>

    <div
      class="flex flex-col items-center lg:items-start w-full lg:w-1/2 pt-0 lg:pt-10 mt-10 lg:mt-0"
    >
      <h1 class="text-center lg:text-left">
        <span
          class="text-[1.5625rem] text-gray-700 leading-[1.5625rem] tracking-[0.03rem] font-quicksand font-bold capitalize"
          >About the</span
        >

        <span
          class="text-[1.5625rem] text-primary-500 leading-[1.5625rem] tracking-[0.03rem] font-quicksand font-bold capitalize ml-1.5"
          >YellowBerry</span
        >
      </h1>

      <p
        class="text-lg text-gray-700 leading-[1.3125rem] tracking-[0.03rem] font-quicksand font-bold text-center lg:text-left w-full mt-2.5"
      >
        Farm-fresh Goodness, just a click Away.
      </p>

      <p
        class="text-sm text-gray-500 leading-[1.75rem] tracking-[0.03rem] font-poppins font-light text-center lg:text-left max-w-[500px] lg:max-w-none mt-5"
      >
        Mauris scelerisque fermentum ex eu vestibulum. Sed malesuada vestibulum
        felis ut iaculis. Integer venenatis laoreet hendrerit. Nullam tristique
        imperdiet lectus. Fusce pellentesque, elit id fringilla tempus, sem
        dolor dapibus neque, eget bibendum magna lectus nec eros. Suspendisse
        aliquet odio quis lectus pulvinar dictum. Quisque velit orci, facilisis
        a dolor in, vehicula tincidunt ipsum. Pellentesque non consequat orci,
        ac facilisis nulla. Praesent elit sapien, semper eu tristique at,
        facilisis non urna. Quisque libero lectus, vulputate eu vulputate eget,
        tincidunt at sapien. Suspendisse dignissim purus ut nibh mollis, at
        pellentesque nulla condimentum. Vivamus tortor dui, faucibus non iaculis
        sit amet, sagittis nec nibh.
      </p>

      <p
        class="text-sm text-gray-500 leading-[1.75rem] tracking-[0.03rem] font-poppins font-light text-center lg:text-left max-w-[500px] lg:max-w-none mt-5"
      >
        Mauris scelerisque fermentum ex eu vestibulum. Sed malesuada vestibulum
        felis ut iaculis. Integer venenatis laoreet hendrerit. Nullam tristique
        imperdiet lectus. Fusce pellentesque, elit id fringilla tempus, sem
        dolor dapibus neque, eget bibendum magna lectus nec eros. Suspendisse
        aliquet odio quis lectus pulvinar dictum. Quisque velit orci, facilisis
        a dolor in, vehicula tincidunt ipsum. Pellentesque non consequat orci,
        ac facilisis nulla. Praesent elit sapien, semper eu tristique at,
        facilisis non urna. Quisque libero lectus, vulputate eu vulputate eget,
        tincidunt at sapien. Suspendisse dignissim purus ut nibh mollis, at
        pellentesque nulla condimentum. Vivamus tortor dui, faucibus non iaculis
        sit amet, sagittis nec nibh.
      </p>
    </div>
  </div>
</app-layout-content>

<app-layout-content
  subtitle="Customer service should not be a department. It should be the entire company."
  pageTitleSecondary="Our"
  pageTitlePrimary="Services"
>
  <div
    class="flex flex-col lg:flex-row items-center lg:items-start justify-center gap-y-6 gap-x-8 w-full max-w-[1600px]"
  >
    @for (service of serviceItems(); track service.id; let i = $index) {
    <app-card-service
      [name]="service.name"
      [description]="service.description"
      [index]="i"
      class="w-full lg:w-1/4 max-w-[500px]"
    ></app-card-service>
    }
  </div>
</app-layout-content>
