:host ::ng-deep p-checkbox {
  .p-checkbox {
    @apply w-[22px] h-[22px];

    .p-checkbox-box {
      @apply w-[22px] h-[22px] border-0 rounded-full;

      &:before {
        @apply top-[12px] left-[5px];
      }

      .p-iconwrapper {
        @apply hidden;
      }
    }
  }

  &.color-black .p-checkbox-box {
    background: black;
  }

  &.color-white .p-checkbox-box {
    background: white;
  }

  &.color-red .p-checkbox-box {
    background: red;
  }

  &.color-blue .p-checkbox-box {
    background: blue;
  }

  &.color-green .p-checkbox-box {
    background: green;
  }

  &.color-yellow .p-checkbox-box {
    background: rgba(255, 255, 0, 0.912);
  }

  &.color-orange .p-checkbox-box {
    background: orange;
  }

  &.color-pink .p-checkbox-box {
    background: pink;
  }

  &.color-purple .p-checkbox-box {
    background: purple;
  }

  &.color-brown .p-checkbox-box {
    background: brown;
  }

  &.color-silver .p-checkbox-box {
    background: silver;
  }

  &.color-gold .p-checkbox-box {
    background: gold;
  }
}
