<app-header></app-header>

<app-breadcrumb></app-breadcrumb>

<app-layout-auth-content
  subtitle="Your new password must be different to previously used passwords."
  pageTitleSecondary="Set new"
  pageTitlePrimary="Password"
  maxWidth="max-w-[31.25rem]"
>
  <div class="w-full mt-10 mb-4">
    @if (mainFormError) {
    <app-alert-form-error
      [message]="mainFormError"
      class="w-full"
    ></app-alert-form-error>
    }
  </div>

  <form
    #resetPasswordForm="ngForm"
    [formGroup]="mainForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-5 border border-gray-200 rounded-[1.25rem] p-[1.875rem] w-full mb-5"
  >
    <app-password-field
      labelFor="password"
      label="Password"
      isRequired
      id="password"
      name="password"
      placeholder="Enter your password"
      toggleMask
      [parentForm]="mainForm"
      formControlName="password"
      controlName="password"
      class="w-full"
      [form]="resetPasswordForm"
      [min]="8"
      [max]="16"
    ></app-password-field>

    <app-password-field
      labelFor="confirmPassword"
      label="Confirm password"
      isRequired
      id="confirmPassword"
      name="confirmPassword"
      placeholder="Enter your confirmPassword"
      toggleMask
      [parentForm]="mainForm"
      formControlName="confirmPassword"
      controlName="confirmPassword"
      class="w-full"
      [form]="resetPasswordForm"
      [min]="8"
      [max]="16"
    ></app-password-field>

    <div class="flex justify-between items-center">
      <app-button-form label="Reset password"></app-button-form>
    </div>
  </form>

  <app-link-back
    [route]="routeEnum.AUTH_LOGIN"
    label="Back to login"
  ></app-link-back>
</app-layout-auth-content>
