<div class="banner-box" [class]="'color-' + variantColor()">
  <div class="relative flex items-center justify-between gap-x-4 w-full z-10">
    <p-image
      [src]="imgSrc()"
      [alt]="altSrc()"
      class="flex-1 w-1/2 max-w-[280px]"
    />

    <div class="flex flex-col">
      <h3
        class="text-[1.9375rem] text-gray-700 leading-[2.325rem] tracking-[0.03rem] font-quicksand font-bold mb-4"
      >
        {{ title() }}
      </h3>

      <p
        class="text-base text-gray-500 leading-7 tracking-[0.03rem] font-poppins font-light mb-2"
      >
        {{ subtitle() }}
      </p>

      <app-button-cta-large
        type="submit"
        label="Shop Now"
        variant="outlined"
      ></app-button-cta-large>
    </div>
  </div>
</div>
