<div
  class="flex flex-col justify-center my-0 py-0"
  [class]="[containerMarginTop(), containerMarginBottom()]"
>
  <app-layout-base justifyContent="justify-center" alignItems="items-center">
    <div class="flex flex-col justify-center items-center gap-3 w-full p-0">
      @if (pageTitleSecondary() || pageTitlePrimary()|| pageTitleInfo()) {
      <app-section-title
        [secondaryContent]="pageTitleSecondary()"
        [primaryContent]="pageTitlePrimary()"
        [infoContent]="pageTitleInfo()"
      ></app-section-title>

      } @if (subtitle()) {
      <app-section-subtitle
        [content]="subtitle()"
        maxWidth="max-w-[23rem]"
      ></app-section-subtitle>
      }

      <div
        class="flex justify-center w-full"
        [class]="[
          childrenContainerMarginTop(),
          childrenContainerMarginBottom()
        ]"
      >
        <ng-content></ng-content>
      </div>
    </div>
  </app-layout-base>
</div>
