<div class="w-full">
  <p-tabs value="0">
    <app-tablist [titleList]="tabTitles"></app-tablist>

    <p-tabpanels
      class="border border-gray-200 rounded-[1.25rem] px-4 py-[1.1875rem] mt-5"
    >
      <p-tabpanel [value]="tabTitles[0].id">
        <div class="w-full max-w-[1000px]">
          <p
            class="text-[0.9375rem] text-gray-500 leading-7 tracking-[0.03rem] font-poppins font-light"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
            voluptatum. Vitae dolores alias repellat eligendi, officiis,
            exercitationem corporis quisquam delectus cum non recusandae numquam
            dignissimos molestiae magnam hic natus. Cumque.
          </p>

          <ul class="pl-6 mt-4">
            @for (productDetail of productDetails; track $index) {
            <app-tab-li
              [content]="productDetail"
              marginBottom="mb-2.5"
            ></app-tab-li>
            } @for (productSpecificDetail of productSpecificDetails; track
            $index) {
            <app-tab-li
              [label]="productSpecificDetail.name"
              [content]="productSpecificDetail.value"
              marginBottom="mb-2.5"
            ></app-tab-li>
            }
          </ul>
        </div>
      </p-tabpanel>

      <p-tabpanel value="1">
        <div class="w-full max-w-[1000px]">
          <ul class="pl-6 mt-4">
            @for (productInformation of productInformations(); track $index) {
            <app-tab-li
              [label]="productInformation.name"
              [content]="productInformation.value"
              marginBottom="mb-2.5"
            ></app-tab-li>

            }
          </ul>
        </div>
      </p-tabpanel>

      <p-tabpanel value="2">
        <div class="flex flex-col gap-y-7 max-w-[1000px]">
          @for (comment of product()?.comments?.results; track $index) {
          <app-card-comment [comment]="comment"></app-card-comment>
          }
        </div>

        <div class="mt-8 max-w-[1000px]">
          <h5
            class="text-[1.375rem] text-gray-700 leading-[1.65rem] tracking-[0.03rem] font-quicksand font-bold mb-2.5"
          >
            Add a Review
          </h5>

          <form
            #commentForm="ngForm"
            [formGroup]="mainForm"
            (ngSubmit)="onSubmit()"
            class="flex flex-col gap-5 w-full"
          >
            <app-rating
              labelFor="rating"
              label="Your rating"
              id="rating"
              name="rating"
              [parentForm]="mainForm"
              formControlName="rating"
              controlName="rating"
              [form]="commentForm"
            ></app-rating>

            <app-textarea-field
              isRequired
              id="comment"
              name="comment"
              placeholder="Enter your comment"
              [rows]="8"
              [parentForm]="mainForm"
              formControlName="comment"
              controlName="comment"
              [form]="commentForm"
            ></app-textarea-field>

            <div class="flex justify-between items-center">
              <app-button-form label="Login"></app-button-form>
            </div>
          </form>
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
