<div class="flex flex-col w-full">
  <label
    [for]="labelFor()"
    class="text-[0.9375rem] text-gray-500 leading-[1.625rem] tracking-[0.02rem] font-poppins font-normal mb-0.5"
    >{{ fullLabel }}</label
  >
  <p-password
    [inputId]="id()"
    [placeholder]="placeholder()"
    [feedback]="feedback()"
    [toggleMask]="toggleMask()"
    [disabled]="disabled"
    formControlName="password"
    (input)="onInputChange($event)"
    (focus)="markAsTouched()"
  />

  <app-error-field
    [form]="form()"
    [control]="control"
    [fieldName]="name()"
    [min]="8"
    [max]="16"
  ></app-error-field>
</div>
