<app-header></app-header>

<app-layout-content
  subtitle="Customer service management."
  pageTitleSecondary="Frequently asked"
  pageTitlePrimary="Questions"
>
  <div class="flex w-full">
    <div class="rounded-[1.25rem] overflow-hidden w-1/3">
      <p-image src="images/faq.jpg" alt="faq" />
    </div>

    <div class="w-2/3">
      @for (faq of faqItems(); track faq.id; let i = $index) {
      <app-panel-toggle
        [header]="faq.question"
        [content]="faq.answer"
        [collapsed]="activePanel !== i"
        (click)="togglePanel(i)"
      ></app-panel-toggle>
      }
    </div>
  </div>
</app-layout-content>
