<p-table
  [value]="productList()"
  class="flex justify-start border border-gray-200 rounded-[1.25rem] p-0 overflow-hidden"
>
  <ng-template #header>
    <tr>
      @for (columName of tableColumnNames; track $index) {
      <th
        [class]="
          'text-base text-gray-700 leading-[1.625rem] tracking-[0.02rem] font-poppins font-medium py-[0.71875rem] px-3 border-b-0 th-' +
          columName
        "
      >
        {{ columName | titlecase }}
      </th>
      }
      <th class="border-b-0"></th>
    </tr>
  </ng-template>

  <ng-template #body let-product>
    <tr>
      <td class="flex items-center gap-x-4 py-[0.59375rem] px-3">
        <div
          class="border border-gray-200 rounded-[1.25rem] w-full max-w-[75px] overflow-hidden"
        >
          <p-image src="images/product/product-1.png" alt="product-img" />
        </div>

        <h6
          class="text-sm text-gray-500 leading-7 tracking-[0.03rem] font-poppins font-normal"
        >
          {{ product.name }}
        </h6>
      </td>

      <td
        class="text-[0.9375rem] text-gray-500 leading-[1.625rem] tracking-[0.02rem] font-poppins font-medium"
      >
        {{ product.priceDetails.priceDiscount | currency : "EUR" }}
      </td>

      <td>
        <app-quantity-form
          [product]="product"
          (quantityChanged)="onQuantityUpdated($event)"
        ></app-quantity-form>
      </td>

      <td
        class="text-[0.9375rem] text-gray-500 leading-[1.625rem] tracking-[0.02rem] font-poppins font-medium"
      >
        {{
          product.priceDetails.priceDiscount * product.quantity
            | currency : "EUR"
        }}
      </td>

      <td>
        <app-button-icon-small
          icon="pi pi-trash"
          (click)="removeFromCart(product.id)"
        ></app-button-icon-small>
      </td>
    </tr>
  </ng-template>
</p-table>
